@import "../../styles/variables.scss";
@import "../../styles/mixins/screen.scss";

.cell {
  padding: 5px;
  width: 100%;
  height: 100%;

  border: 1px solid $c-gray;
  background-color: $c-white;

  color: $c-black;
  border-radius: 10px;

  @include onTablet {
    padding: 10px;
  }

  overflow-y: auto;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px; 
    border-radius: 13px;
    background-clip: padding-box;
    border: 4px solid transparent;
    box-shadow: inset 0 0 5px $c-white;
    color: #dddddd;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 12px;
  }

  &__date {
    margin-bottom: 6px;

    font-size: 12px;

    @include onDesktop {
      font-size: 16px;
    }
  }

  &--another_month {
    color: $c-gray;
  }

  &--today {
    color: $c-red;

    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  }

  &--selected {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
