@import "../../styles/variables.scss";

.cell {
  padding: 10px;
  width: 100%;
  height: 100%;

  border: 1px solid $c-gray;
  background-color: $c-white;

  color: $c-black;
  border-radius: 10px;

  overflow-y: auto;

  &__date {
    margin-bottom: 6px;
  }

  &--another_month {
    color: $c-gray;
  }

  &--today {
    color: $c-red;

    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  }

  &--selected {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
