@import "../../styles/variables.scss";
@import "../../styles/mixins/screen.scss";

.actions_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @include onTablet {
    justify-content: flex-start;
  }

  &__form {
    position: relative;
  }

  &__open_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    background: url("../../../public/images/add-plus.svg") no-repeat center;
    background-color: $c-white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    @include onTablet {
      width: 70px;
      height: 70px;
    }
  }
}