@import "../../styles/variables.scss";

.event_form {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 30px;
  width: max-content;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;

  background-color: $c-white;
  color: $c-black;

  top: 50%;
  left: 50%;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 400;
  }

  &__close {
    width: 24px;
    height: 24px;

    background: url("../../../public/images/close.svg") no-repeat center;

    cursor: pointer;
  }

  &__item {
    display: flex;
    flex-direction: column; 
    gap: 8px;
  }

  &__input {
    height: 24px;
    border: none;
    border-bottom: 1px solid $c-gray;

    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: $c-black;
    }
  }

  &__description{
    height: 72px;

    resize: none;
  }

  &__event_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 12px;

    width: 75%;
  }

  &__button {
    border: none;

    cursor: pointer;
  }

  &__submit {
    padding: 10px 15px;

    background-image: linear-gradient($c-yellow, $c-orange);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;

    color: $c-white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &:active {
      box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &__delete {
    width: 25px;
    height: 25px;

    background: url("../../../public/images/delete.svg") no-repeat center;

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}