@import "../../styles/variables.scss";

.set_month {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;

  font-size: 20px;
  font-weight: 400;
  color: $c-white;

  &__button {
    padding: 10px;
    width: 20px;
    height: 20px;

    background: url("../../../public/images/arrow-right.svg") no-repeat center;
    border: none;

    transition: transform 0.3s ease;
    cursor: pointer;

    &:first-of-type {
      background: url("../../../public/images/arrow-left.svg") no-repeat center;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}