@import "../../styles/variables.scss";
@import "../../styles/mixins/screen.scss";

.date_carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  width: 200px;

  font-size: 16px;
  font-weight: 400;
  color: $c-white;

  @include onTablet {
    width: 240px;

    font-size: 20px;
  }

  &__button {
    width: 16px;
    height: 16px;

    background: url("../../../public/images/arrow-right.svg") no-repeat center;
    border: none;

    transition: transform 0.3s ease;
    cursor: pointer;

    &:first-of-type {
      background: url("../../../public/images/arrow-left.svg") no-repeat center;
    }

    &:hover {
      transform: scale(1.05);
    }

    @include onTablet {
      width: 20px;
      height: 20px;
    }
  }
}