@import "../../styles/mixins/screen.scss";

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 75px);
  place-items: center;
  flex-grow: 1;
  gap: 5px;

  @include onTablet {
    grid-template-rows: repeat(6, 110px);
  }

  @include onDesktop {
    grid-template-rows: repeat(6, 110px);
  }
}