@import "../../styles/variables.scss";

.event {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 6px;
  margin-bottom: 2px;

  border-radius: 10px;

  background-color: $c-orange;
  opacity: 0.8;

  font-size: 10px;
  color: $c-white;

  &--other_month {
    opacity: 0.5;
  }

  &__title {
    position: relative;

    padding-left: 6px;
    border-left: 1px solid $c-white;
  }
}