@import "../../styles/variables.scss";
@import "../../styles/mixins/screen.scss";

.event {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 2px 2px;
  margin-bottom: 2px;
  height: max-content;
  width: 100%;

  border: none;
  border-radius: 10px;

  background-color: $c-orange;
  opacity: 0.8;

  font-size: 6px;
  color: $c-white;

  cursor: pointer;

  @include onDesktop {
    gap: 6px;
    padding: 2px 6px;

    font-size: 12px;
  }

  &--other_month {
    opacity: 0.5;
  }

  &__title {
    padding-left: 2px;
    border-left: 1px solid $c-white;

    @include onTablet {
      padding-left: 6px;
  }
  }
}