@import "../../styles/variables.scss";
@import "../../styles/mixins/screen.scss";

.days_of_week {
  display: flex;
  justify-content: space-around;
  gap: 5px;

  padding: 40px 0;

  &__day {
    width: 100%;

    color: $c-black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  
    color: $c-white;
  
    &--current {
      color: $c-red;
    }
  
    @include onTablet {
      font-size: 28px;
    }
  }

}
