@import "../../styles/variables.scss";

.dayOfWeek {
  color: $c-black;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;

  color: $c-white;

  &--current {
    color: $c-red;
  }
}