@import "./styles/mixins/screen.scss";

.App {
  margin: 0 auto;
  max-width: 300px;
  min-height: 100vh;

  @include onTablet {
    max-width: 728px;
   }

 @include onDesktop {
  max-width: 1120px;
 }
}