@import "./styles/mixins/screen.scss";
@import "./styles/variables.scss";

.App {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  gap: 12px;

  margin: 0 auto;
  padding: 20px 0;
  max-width: 350px;
  height: 100vh;

  @include onTablet {
    padding: 48px 0;
    max-width: 620px;
   }

  @include onDesktop {
    max-width: 1140px;
    width: 100%;
  }

  &__background {
    position: absolute;
    z-index: -1;

    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 60%;

    background-image: linear-gradient($c-yellow, $c-orange);

  }
}